<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões essenciais para o aplicativo -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Permissão para acessar o estado da rede (necessária para usar o ConnectivityManager) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissões de armazenamento para Android 6.0 e acima -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

    <!-- Para Android 10 (API 29) ou superior, se necessário, usar o armazenamento com escopo -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:required="false" />

    <!-- Permissões para notificações push -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_do_studytask_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_do_studytask_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyTask"
        tools:targetApi="31">

        <!-- Configuração do OneSignal -->
        <meta-data
            android:name="com.onesignal.ApplicationId"
            android:value="YOUR_ONESIGNAL_APP_ID" /> <!-- Substitua pelo seu ID do OneSignal -->

        <!-- Configuração para notificação aberta -->
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="true" />

        <!-- Declaração da SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaração da MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
